<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owners List</title>
</head>
<body>
<h2 th:text="'List of Owners'">Owner's List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">Id</th>
        <th style="width: 150px">FirstName</th>
        <th style="width: 150px">LastName</th>
        <th style="width: 150px">Number of Pets</th>
        <th style="width: 150px">Pet</th>
        <th style="width: 150px">PetType</th>
    </tr>
    <tr th:each="owner : ${prop}">
    <td th:text="${owner.id}">Joe</td>
    <td th:text="${owner.firstName}">Joe</td>
    <td th:text="${owner.lastName}">Joe</td>
    <td th:text="${owner.getPets().size()}">Joe</td>
    <div th:each="pets : ${ownpets.get(owner)}">
    <td  th:text="${pets.getName()}">Joe</td>
    <td  th:text="${pets.getPetType().getName()}">Joe</td>
    </div>
    </tr>
    </thead>
</table>
</body>
</html>